header{
  background: #1a2732;
  min-height: 60px;
  
}
.nav-link {
   color: #fff; 
}

.sidebar{
    background: #394a59;
    padding:  15px 0;
    //height: 100%;
    padding-left: 5px;
}
.sidebar li{
    border-bottom: 1px solid #fff;
}
.sidebar .nav-item a:hover{
    background: #31404d;
}

.content{
     background: #E9E9E9; 
     padding: 20px ;
}
.line{
    height:4px;
    width:auto;
    border-top:1px solid #fff;      
}

ion-icon {
  font-size: 18px;
    margin-bottom: -3px;
}

img{
    max-width: 100%;
    height: auto;
}

.btn-success {
    margin-bottom: 10px;
} 

h5{
    padding-bottom: 10px;
}

@media only screen and (max-width : 776px){
    .sidebar{
        padding:  15px;
    }
   
}

@media only screen and (max-width : 480px){
    .hidden {
        display: none; 
    }
    
    .content{ 
        padding: 15px 10px;     
   }
    
} 

@media only screen and (max-width : 360px){
    
    
  
    }
}